/*Menu de selection*/
#menu-selection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    margin: 0 100px;
    width: 300px;
    padding-top: 20px;
}

#menu-selection p{
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 70px;
    display: grid;
    place-items: center;
}

#menu-selection #menu-deroulant {
    width: 170px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

#menu-selection #menu-deroulant .btnMenu{
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px 20px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    cursor: pointer;
    justify-content: flex-start;
}

#menu-selection #menu-deroulant .btnMenu{
    display: none;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}

#menu-selection #menu-deroulant .btnMenu:first-child{
    display: flex;
    justify-content: space-between;
}

#menu-selection .btnMenu:first-child::before, #menu-selection .btnMenu:nth-child(2)::before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 75%;
    border-bottom: 2px solid white;
    z-index: 1;
}

/*Media Section*/
#media-section {
    display: inline-flex;
    margin: 0 100px 100px 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 70px;
}

#media-section article {
    height: 415px;
    width: 350px;
    border-radius: 5px;
}

#media-section article figure{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#media-section article .img, #media-section article .video{
    height: 350px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    border: none;
}

#media-section article .img img, #media-section article .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#media-section article figure figcaption{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#media-section article figure figcaption p{
    color: #901C1C;
    font-size: 24px;
    min-width: 275px;
    width: 275px;
    max-width: 275px;
}

#media-section article figure figcaption #likes-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    width: 70px;
    max-width: 70px;
}

#media-section article figure figcaption #likes-section p{
    color: #901C1C;
    font-size: 24px;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    text-align: right;
}

#media-section article figure figcaption #likes-section .btnLikes{  
    color: #901C1C;
    cursor: pointer;
    height: 25px;
    display: grid;
    place-items: center;
    background: none;
    border: none;
}

#encart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background: #DB8876;
    padding: 0 25px;
}

#encart #likes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 100%;
}

/* Tablette */
@media (max-width: 1024px) {
    #media-section {
        justify-content: center;
    }
}

/* Mobile */
@media (max-width: 747px) {
    #photograph-header { 
        margin: 0 20px;
    }
    #media-section {
        column-gap: 0;
    }
    #menu-selection, #encart {
        margin: 0;
    }
}

/* Mobile */
@media (max-width: 600px) {
    #media-section {
        margin: 0 0 100px 0;
    }
}
