@import url("photographer.css");
@import url("media.css");
@import url("contactForm.css");
@import url("lightBox.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

#logo {
    height: 50px;
    margin-left: 100px;
    cursor: pointer;
}

#logo img {
    height: 100%;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 55px;
    margin: 100px 0;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

/* Tablette */
@media (max-width: 1024px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }
}

/* Mobile */
@media (max-width: 747px) {
    header {
        margin-top: 20px;
        flex-direction: column;

    }

    h1, #logo{
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .photographer_section {
        grid-template-columns: 1fr;
    }
}